{
  "env": {
    "browser": true,
    "jest": true,
    "node": true,
    "react-native/react-native": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/recommended-requiring-type-checking",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:import/typescript",
    "plugin:react/recommended",
    "prettier",
    "prettier/@typescript-eslint",
    "prettier/react"
  ],
  "globals": {
    "HermesInternal": true
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 9,
    "project": "./packages/**/tsconfig.json",
    "sourceType": "module"
  },
  "plugins": [
    "import",
    "@typescript-eslint",
    "react",
    "react-hooks",
    "react-native",
    "prettier"
  ],
  "rules": {
    "@typescript-eslint/explicit-function-return-type": 0,
    "@typescript-eslint/no-explicit-any": 1,
    "@typescript-eslint/no-non-null-assertion": 0,
    "@typescript-eslint/no-unused-vars": [
      2,
      {
        "ignoreRestSiblings": true,
        "argsIgnorePattern": "^_"
      }
    ],
    "@typescript-eslint/no-use-before-define": [
      2,
      {
        "classes": true,
        "functions": true,
        "variables": false
      }
    ],
    "import/order": [
      2,
      {
        "groups": ["builtin", "external", "parent", "sibling", "index"],
        "newlines-between": "always"
      }
    ],
    "linebreak-style": [2, "unix"],
    "no-unexpected-multiline": 2,
    "prettier/prettier": 2,
    "react-hooks/exhaustive-deps": 1,
    "react-hooks/rules-of-hooks": 2,
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".jsx", ".tsx"]
      }
    ],
    "react/no-deprecated": 0,
    "react/no-direct-mutation-state": 0,
    "react/no-string-refs": 0,
    "react/prop-types": 0,
    "react/require-render-return": 0
  },
  "settings": {
    "import/parsers": {
      "@typescript-eslint/parser": [".ts", ".tsx"]
    },
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    },
    "react": {
      "version": "detect"
    },
    "react-native/style-sheet-object-names": ["EStyleSheet"]
  }
}
