.git/
.gitignore
.prettierignore
.eslintignore
.editorconfig
.browserslistrc
LICENSE

dist/
coverage/
*.png
*.svg
*.xml
*.ico

node_modules/
node_modules/**
**/node_modules/
**/node_modules/**

packages/mobile/index.js
packages/mobile/babel.config.js
packages/mobile/metro.config.js
packages/mobile/jest.config.js
